# Python for Data Science
Course link: https://courses.cognitiveclass.ai/courses/course-v1:CognitiveClass+PY0101EN+v3/course/

Student: Erick Alexei Cambray Servin

Student ID: A01794243

# Module 1

## Your first Program

A statement or expression is an instruction the cumputer will run.
The print stamemt takes one argument that is the output that will be printed by the program.

In [1]:
print('Hello Python')

Hello Python

To be more clear and to help us in the future or other programers we can comment our code o specify what does our code does.

In [ ]:
# This line prints an output
print('An output')

If we make mistakes in our code, python will let us know and we will recive a message error.

A Syntatix error is when we got typos or misspell a word

In [4]:
Frint('This is an error')

NameError: name 'Frint' is not defined

Another type of error is the Semantic error that occurss when your logic is wrong. For examen this course is Python 101 and if  we print Python 102 we don't get and error messange but the code is wrong.

## Types

It is how python represents different types of data.

We can have 

Integers -> 11 -> int

Real numbers -> 20.454 -> float

Words -> 'Hi' -> str

Also we can chance (cast) the data type in Python:

In [6]:
float(2)
# Notice that the otput adds a decimal

2.0

If what you want is to cast a float to an integer we should be careful because it will only take the integer part

In [9]:
print(int(2.55))
print(int(2.9))
print(int(2.1))

2
2
2

Python is smart enough to cast even strings into Interger

In [12]:
print(int('10\n'))
# But if we try to cast letters it will return an error
print(int('A'))

10

ValueError: invalid literal for int() with base 10: 'A'

Boolean types is also very important in python
Can take two values True (1) or False (0)
The important thing in python is that we can operate them as if they were numbers

In [13]:
sum([True, False, True])

2

In [14]:
bool(1)

True

## Expressions : Mathematical Operations
For mathematical operations python follows a Jerachical order

In [16]:
# Basic Arithmetic operations
print(10+203)
print(5-3)
print(0.5 * 91)
print(12/8)

213
2
45.5
1.5

In [18]:
# For integer division
print(12//8)
# And also m√≥dule to have the residual
print(12%8)

1
4

We can use this operators using varibales.

In [19]:
variable_1 = 10
variable_2 = 12
print(variable_1 + variable_2)
print(variable_1 ** variable_2)
print(variable_1 - variable_2)

22
1000000000000
-2

## String Operations
Is helpful to think of a string as an ordered sequence, and each element can be accessed and the string sliced

In [20]:
str_var = 'Michael Jackson'

In [25]:
print(str_var[0])
print(str_var[9])
print(str_var[-1])
print(str_var[0:3])
print(str_var[-4:-1])

M
a
n
Mic
kso

In [27]:
print(str_var[::2])

McalJcsn

We can also operate the strings as if they where numbers

In [30]:
print(3 * (str_var + ' '))

Michael Jackson Michael Jackson Michael Jackson

Because the Strings are sequences we can apply methods that also work in lists and tuples. But also they have special methods that work just for them.

In [31]:
A = 'This is an string example'

In [34]:
print(A.upper())

THIS IS AN STRING EXAMPLE

In [39]:
"0013456".find('1')

2

# Module 2

## List and Tuples
Are compound data types and are a key type of data strucures in Python.

### Tuples
Tuples are an ordered sequence, they are immutable that means they cannot be modify.

In [43]:
first_tuple = (10, 9 , 8, 7, 6)
print(first_tuple)
second_tuple = ('string', 10, 19.9)
print(second_tuple)

(10, 9, 8, 7, 6)
('string', 10, 19.9)

In [47]:
print(second_tuple[0])
print(second_tuple[-1])
print(second_tuple[0:2])

string
19.9
('string', 10)

We can nest a tuple into a tuple.
But the result will still be a tuple

In [48]:
tp1 = ('s', 12, (30, 12))
print(tp1)
print(type(tp1))

('s', 12, (30, 12))
<class 'tuple'>

To access deeper levels on the tuple we add another square bracket

In [51]:
print(tp1[1])
print(tp1[2])
print(tp1[2][0])

12
(30, 12)
30

### List
Are almost the same as a tuple but they can be modify. Means they are mutable

In [53]:
first_list = [10, 11, 12, 'string', 10.45, ['another', 11, 23]]

In [57]:
print(first_list)
print(first_list[0:4])
print(first_list[5])
print(first_list[5][0:2])

[10, 11, 12, 'string', 10.45, ['another', 11, 23]]
[10, 11, 12, 'string']
['another', 11, 23]
['another', 11]

To modify a value we can use it's index

In [58]:
print(first_list)
first_list[5] = 'new_value'
print(first_list)

[10, 11, 12, 'string', 10.45, ['another', 11, 23]]
[10, 11, 12, 'string', 10.45, 'new_value']

Also we can use the list methods to modify it

In [59]:
print(first_list)
first_list.extend(['ext', 10])
print(first_list)

[10, 11, 12, 'string', 10.45, 'new_value']
[10, 11, 12, 'string', 10.45, 'new_value', 'ext', 10]

In [60]:
print(first_list)
first_list.append(55.4221)
print(first_list)

[10, 11, 12, 'string', 10.45, 'new_value', 'ext', 10]
[10, 11, 12, 'string', 10.45, 'new_value', 'ext', 10, 55.4221]

We can also use some methods to conver strings into lists

In [62]:
'ab,c,s,123'.split(',')

['ab', 'c', 's', '123']

### Sets
They are also a type of collection like list and tuples, but with the difference that they don't have an order.

Also sets only have unique elements.

In [67]:
first_set = {'one', 'two', 3 , 'three', 'one'}
print(first_set)
# Notice that here it removes the duplicated value

{'three', 'two', 3, 'one'}

In [70]:
# We can transform a 1-D list into a set and it will remove the duplicates
set([1, 2, 3, 1, 2, 'one'])

{1, 2, 3, 'one'}

In [71]:
A = {1, 2, 3}
print(A)
A.add(4)
print(A)

{1, 2, 3}
{1, 2, 3, 4}

We can also use set operations like in mathematical Set theory, we can do operations like Union, Intersection, Difference, etc.

In [74]:
A = {1, 2, 3}
B = {3, 4, 5}
print(A.intersection(B))
print(A.union(B))
print(A.difference(B))

{3}
{1, 2, 3, 4, 5}
{1, 2}

A very important method is $in$ that checks if there is a coincidence of a element in the set

In [76]:
print(1 in A)
print(4 in A)

True
False

### Dictionaries
Is a collection of elements but instead to be identify by an index like lists and tuples, they are identify by keys which have to be immutable and unique. But the values can be of any type.

In [78]:
first_dict = {'key1': 'value 1', 'key2': [1, 2, 3], 'key3': (1,2,3)}
print(first_dict)

{'key1': 'value 1', 'key2': [1, 2, 3], 'key3': (1, 2, 3)}

In [81]:
print(first_dict['key1'])
print(first_dict['key3'])

value 1
(1, 2, 3)

In [82]:
print(first_dict)
first_dict['new_key'] = 2008
print(first_dict)

{'key1': 'value 1', 'key2': [1, 2, 3], 'key3': (1, 2, 3)}
{'key1': 'value 1', 'key2': [1, 2, 3], 'key3': (1, 2, 3), 'new_key': 2008}

In [83]:
print(first_dict)
del(first_dict['new_key'])
print(first_dict)

{'key1': 'value 1', 'key2': [1, 2, 3], 'key3': (1, 2, 3), 'new_key': 2008}
{'key1': 'value 1', 'key2': [1, 2, 3], 'key3': (1, 2, 3)}

In [85]:
L = [1,2]
L.append([1,2])
L

[1, 2, [1, 2]]

# Module 3