# Python for Data Science
Course link: https://courses.cognitiveclass.ai/courses/course-v1:CognitiveClass+PY0101EN+v3/course/

Student: Erick Alexei Cambray Servin

Student ID: A01794243

# Module 1

## Your first Program

A statement or expression is an instruction the cumputer will run.
The print stamemt takes one argument that is the output that will be printed by the program.

In [4]:
print('Hello Python')

Hello Python

To be more clear and to help us in the future or other programers we can comment our code o specify what does our code does.

In [5]:
# This line prints an output
print('An output')

An output

If we make mistakes in our code, python will let us know and we will recive a message error.

A Syntatix error is when we got typos or misspell a word

In [6]:
Frint('This is an error')

NameError: name 'Frint' is not defined

Another type of error is the Semantic error that occurss when your logic is wrong. For examen this course is Python 101 and if  we print Python 102 we don't get and error messange but the code is wrong.

## Types

It is how python represents different types of data.

We can have 

Integers -> 11 -> int

Real numbers -> 20.454 -> float

Words -> 'Hi' -> str

Also we can chance (cast) the data type in Python:

In [7]:
float(2)
# Notice that the otput adds a decimal

2.0

If what you want is to cast a float to an integer we should be careful because it will only take the integer part

In [8]:
print(int(2.55))
print(int(2.9))
print(int(2.1))

2
2
2

Python is smart enough to cast even strings into Interger

In [9]:
print(int('10\n'))
# But if we try to cast letters it will return an error
print(int('A'))

10

ValueError: invalid literal for int() with base 10: 'A'

Boolean types is also very important in python
Can take two values True (1) or False (0)
The important thing in python is that we can operate them as if they were numbers

In [10]:
sum([True, False, True])

2

In [11]:
bool(1)

True

## Expressions : Mathematical Operations
For mathematical operations python follows a Jerachical order

In [12]:
# Basic Arithmetic operations
print(10+203)
print(5-3)
print(0.5 * 91)
print(12/8)

213
2
45.5
1.5

In [13]:
# For integer division
print(12//8)
# And also m√≥dule to have the residual
print(12%8)

1
4

We can use this operators using varibales.

In [14]:
variable_1 = 10
variable_2 = 12
print(variable_1 + variable_2)
print(variable_1 ** variable_2)
print(variable_1 - variable_2)

22
1000000000000
-2

## String Operations
Is helpful to think of a string as an ordered sequence, and each element can be accessed and the string sliced

In [15]:
str_var = 'Michael Jackson'

In [16]:
print(str_var[0])
print(str_var[9])
print(str_var[-1])
print(str_var[0:3])
print(str_var[-4:-1])

M
a
n
Mic
kso

In [17]:
print(str_var[::2])

McalJcsn

We can also operate the strings as if they where numbers

In [18]:
print(3 * (str_var + ' '))

Michael Jackson Michael Jackson Michael Jackson

Because the Strings are sequences we can apply methods that also work in lists and tuples. But also they have special methods that work just for them.

In [19]:
A = 'This is an string example'

In [20]:
print(A.upper())

THIS IS AN STRING EXAMPLE

In [21]:
"0013456".find('1')

2

# Module 2

## List and Tuples
Are compound data types and are a key type of data strucures in Python.

### Tuples
Tuples are an ordered sequence, they are immutable that means they cannot be modify.

In [22]:
first_tuple = (10, 9 , 8, 7, 6)
print(first_tuple)
second_tuple = ('string', 10, 19.9)
print(second_tuple)

(10, 9, 8, 7, 6)
('string', 10, 19.9)

In [23]:
print(second_tuple[0])
print(second_tuple[-1])
print(second_tuple[0:2])

string
19.9
('string', 10)

We can nest a tuple into a tuple.
But the result will still be a tuple

In [24]:
tp1 = ('s', 12, (30, 12))
print(tp1)
print(type(tp1))

('s', 12, (30, 12))
<class 'tuple'>

To access deeper levels on the tuple we add another square bracket

In [25]:
print(tp1[1])
print(tp1[2])
print(tp1[2][0])

12
(30, 12)
30

### List
Are almost the same as a tuple but they can be modify. Means they are mutable

In [26]:
first_list = [10, 11, 12, 'string', 10.45, ['another', 11, 23]]

In [27]:
print(first_list)
print(first_list[0:4])
print(first_list[5])
print(first_list[5][0:2])

[10, 11, 12, 'string', 10.45, ['another', 11, 23]]
[10, 11, 12, 'string']
['another', 11, 23]
['another', 11]

To modify a value we can use it's index

In [28]:
print(first_list)
first_list[5] = 'new_value'
print(first_list)

[10, 11, 12, 'string', 10.45, ['another', 11, 23]]
[10, 11, 12, 'string', 10.45, 'new_value']

Also we can use the list methods to modify it

In [29]:
print(first_list)
first_list.extend(['ext', 10])
print(first_list)

[10, 11, 12, 'string', 10.45, 'new_value']
[10, 11, 12, 'string', 10.45, 'new_value', 'ext', 10]

In [30]:
print(first_list)
first_list.append(55.4221)
print(first_list)

[10, 11, 12, 'string', 10.45, 'new_value', 'ext', 10]
[10, 11, 12, 'string', 10.45, 'new_value', 'ext', 10, 55.4221]

We can also use some methods to conver strings into lists

In [31]:
'ab,c,s,123'.split(',')

['ab', 'c', 's', '123']

### Sets
They are also a type of collection like list and tuples, but with the difference that they don't have an order.

Also sets only have unique elements.

In [32]:
first_set = {'one', 'two', 3 , 'three', 'one'}
print(first_set)
# Notice that here it removes the duplicated value

{'two', 3, 'three', 'one'}

In [33]:
# We can transform a 1-D list into a set and it will remove the duplicates
set([1, 2, 3, 1, 2, 'one'])

{1, 2, 3, 'one'}

In [34]:
A = {1, 2, 3}
print(A)
A.add(4)
print(A)

{1, 2, 3}
{1, 2, 3, 4}

We can also use set operations like in mathematical Set theory, we can do operations like Union, Intersection, Difference, etc.

In [35]:
A = {1, 2, 3}
B = {3, 4, 5}
print(A.intersection(B))
print(A.union(B))
print(A.difference(B))

{3}
{1, 2, 3, 4, 5}
{1, 2}

A very important method is $in$ that checks if there is a coincidence of a element in the set

In [36]:
print(1 in A)
print(4 in A)

True
False

### Dictionaries
Is a collection of elements but instead to be identify by an index like lists and tuples, they are identify by keys which have to be immutable and unique. But the values can be of any type.

In [37]:
first_dict = {'key1': 'value 1', 'key2': [1, 2, 3], 'key3': (1,2,3)}
print(first_dict)

{'key1': 'value 1', 'key2': [1, 2, 3], 'key3': (1, 2, 3)}

In [38]:
print(first_dict['key1'])
print(first_dict['key3'])

value 1
(1, 2, 3)

In [39]:
print(first_dict)
first_dict['new_key'] = 2008
print(first_dict)

{'key1': 'value 1', 'key2': [1, 2, 3], 'key3': (1, 2, 3)}
{'key1': 'value 1', 'key2': [1, 2, 3], 'key3': (1, 2, 3), 'new_key': 2008}

In [40]:
print(first_dict)
del(first_dict['new_key'])
print(first_dict)

{'key1': 'value 1', 'key2': [1, 2, 3], 'key3': (1, 2, 3), 'new_key': 2008}
{'key1': 'value 1', 'key2': [1, 2, 3], 'key3': (1, 2, 3)}

In [41]:
L = [1,2]
L.append([1,2])
L

[1, 2, [1, 2]]

# Module 3

## Conditions and Branching
Conditions compare an operation and then return a boolean value to show if the result is True or False

In [42]:
print(6==6)
print(6==7)

True
False

In [43]:
print(10 > 9)
print(10 < 9)
print(10 != 9)
print(10 == 9)

True
False
True
False

### If Statement

In [44]:
a = 0
if a < 10 :
    print(a)
else:
    print('More than 10')

0

In [45]:
a = 11
if a < 10 :
    print(a)
else:
    print('More than 10')

More than 10

## elif Statement
To check multiple conditions

In [46]:
age = 10

if (age > 18):
    print('Older enough')
elif (age < 18):
    print('To young')
else:
    print('Exactly 18')

To young

Logic operators

In [47]:
# And operator
print(6 == 7 & 7 == 7)
print(6 == 7 and  7 == 7)

# Or operator
print(6 == 7 or  7 == 7)

False
False
True

## Loops
To have control functions and also have the tools to iterate over a range

In [48]:
print(*range(10,15))

10 11 12 13 14

In [49]:
for i in range(0,5):
    print(i)

0
1
2
3
4

Also we can use the index of a list to access it's elements

In [50]:
for i in [1, 2, 3, 'si', 10]:
    print(i)

1
2
3
si
10

And we can iterate over two dimensions to practice we will use the enumerate function

In [51]:
for i, element in enumerate(['one', 'two', 'three']):
    print(f'Indice: {i}, elemento: {element}')

Indice: 0, elemento: one
Indice: 1, elemento: two
Indice: 2, elemento: three

In [52]:
i = 0
while i < 10:
    print(i)
    i +=1

0
1
2
3
4
5
6
7
8
9

## Functions
We can define functions to create outputs acording to the needs of your program.

It's a peace of code you can reuse and don't be reduntant.

In [53]:
def first_function(arg):
    return arg + 2

In [54]:
first_function(50)

52

Something to take in count is that the scope of the variables of a fucntion is just the function itself

In [55]:
x = 10
 
def scope_exp(y):
    x = 11 + y
    return print(x)

scope_exp(x)
print(x)

21
10

In [56]:
a=1

def add(b):
    return a+b

c=add(10)
c

11

## Objects and classes

An object is a Python element that has:
- Type
- Internal data representation ( blueprint )
- A set of procedures for interacting with the object (methods)

An object can be instanciated and that means we can have the same object with diferent representations of itself.

### Methods
Is how we interact with an object and when we define it is what we want our object to do.

In [57]:
# We will use the method sort of the object list
ratings = [1, 69, 3434, 120, 1830]
ratings.sort()
print(ratings)
# Notice that the method has changed the object

[1, 69, 120, 1830, 3434]

In [58]:
ratings = [1, 69, 3434, 120, 1830]
ratings.reverse()
print(ratings)

[1830, 120, 3434, 69, 1]

To create a class we have to use the special method *__init__* that is a constructore to initialize data attributes

In [59]:
class Circle(object):
    def __init__(self, color, height, width):
        self.color = color
        self.width = width
        self.height = height

In [60]:
Circle1 = Circle('red', 10, 3)
Circle1

# Module 4
## Reading Files with Open
With de built-in open() function of Python we can read line by line a txt file.

In [61]:
File1 = open("Practice Data/reading_txt_files.txt", 'w')
print(File1)

<_io.TextIOWrapper name='Practice Data/reading_txt_files.txt' mode='w' encoding='cp1252'>

The first argument is the direction of the file and the second one is the mode.

The modes are:

- "r"   Opens a file for reading only.
- "r+"  Opens a file for both reading and writing.
- "rb"  Opens a file for reading only in binary format.
- "rb+" Opens a file for both reading and writing in binary format.
- "w"   Opens a file for writing only.
- "a"   Open for writing. The file is created if it does not exist.
- "a+"  Open for reading and writing.  The file is created if it does not exist.

In [62]:
print(File1.name)
print(File1.mode)
# Always remember to close the files
File1.close()
File1.closed

Practice Data/reading_txt_files.txt
w

True

A better practice is to use the 'with'statement to open a file bc it will automatically close it

In [63]:
# To read some files we may have to select the correct encoding for the content
with open("Practice Data/reading_txt_files.txt", 'r', encoding= 'utf-8') as File2:
    file_stuff = File2.read()
    print(file_stuff)
print(File2.closed)

True

In [64]:
# To read some files we may have to select the correct encoding for the content
with open("Practice Data/reading_txt_files.txt", 'r', encoding= 'utf-8') as File2:
    file_stuff = File2.readline()
    print(file_stuff)
    file_stuff = File2.readline()
    print(file_stuff)
    file_stuff = File2.readline()
    print(file_stuff)
print(File2.closed)

True

To write a file with the function open:

In [68]:
with open("Practice Data/reading_txt_file.txt", 'a+', encoding= 'utf-8') as File3:
    # File3.write('Linea insertada desde el programa de Python')
    file_stuff = File3.readline(3)
    print(file_stuff)

## Loading data
We will use the libary pandas that is very popular over Data Manipulation.

Is common to use the alias 'pd' for pandas like 'np' for numpy or 'plt' to matplotlib

In [69]:
import pandas as pd

In [ ]:
df = pd.read_csv('test_file.csv')
# To show the first 5 rows
df.head()

To explore the data we have some options.

In [ ]:
df['Column_header']
df[['Column1', 'Column2']]

We can acces by possition using

In [ ]:
df.ix[0,1]
df.iloc[0,1]

## Working with and saving data

The unique method help us to extract the unique values of a column of a DataFrame

In [ ]:
df['Released'].unique()

We can filter or create a new DataFrame by slicing the original one

In [ ]:
df_reduced = df[df['Released'] >= 1980]

We can save our DataFrames into multiple categories like:
- Excel: df.to_excel()
- CSV: df.to_csv()
- Pickel: df.to_pikle()
- Clipboard: df.to_clipboard()

In [ ]:
df_reduced.to_csv('new_df.csv')